.input{
    width: max-content;
    position: relative;
    outline: none;
}

button{
    outline: none;
}
.input-field{
    width: 10rem;
}

.content{
    height: 80vh;
    padding: 10px;
}

.hidechat{
    visibility: hidden !important; 
    background-color: white;
}


.hide::-webkit-scrollbar {
    display: none;
  }
  
  .hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

input:focus, button:focus{
    outline: none;
    border: none;
    outline: none;
}

.btn, input{
    outline: none;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    color: blue;
}

.chat{
    z-index: 1;
}

.faPlane{
    color: rgb(94, 132, 163);
    transform: rotate(30deg);

}